{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "{% static 'css/register.css' %}">
    <style>
        .seperator::before{
            border-top : 1px solid rgba(0, 0, 0, .4);
        }
    </style>
    <title>Register</title>
</head>
<body>
    <div class = "container">
        <div class = "register-wrapper">
            <form class = "register-form" method="post">
                {% csrf_token %}
                <div class = "form-text-container">
                    <h3 class = "logo">Studydl</h3>
                    <div class = "seperator">
                        <p>Register to get onboard</p>
                    </div>
                </div>
                {% for messages in messages %}
                {{messages}}
                {% endfor %}
                <div class = "inputs-container">
                    <div class = "input-div">
                        <input required placeholder = "Username" type = "text" name = "username">
                    </div>

                   

                    <div class = "input-div">
                        <input required placeholder = "Email" type = "email" name = "email" class = "email">
                    </div>

                    <div class = "input-div">
                        <input required placeholder = "Password" type = "password" name = "password1" class = "password">
                    </div>

                    <div class = "input-div">
                        <input required placeholder = "Confirm Password" type = "password" name = "password2" class = "password">
                    </div>

                    <button type = "submit" class = "submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>